* {
  margin: 0%;
}

.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
  object-fit: contain;

  /* animation*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_contents {
  display: flex;
  justify-content: space-between;
}
.nav_black {
  background-color: black;
}
.moviespage {
  color: red;
}

.nav_logo {
  position: fixed;
  width: 100px;

  left: 20px;
  cursor: pointer;
}
.nav_avatar_pic {
  position: fixed;
  width: 35px;
  height: 35px;
  right: 20px;
  cursor: pointer;
  padding-top: 10px;
}

.movie-btn, .tvshow-btn{
 /*  background-color: rgb(109, 106, 106); */
  background-color: Transparent;
  color: white;
  padding: 8px 16px;
  margin-left: 150px;
  margin-top: 10px;
  border-radius: 5px;
  /* border-color: currentColor; */
  position: fixed;
  
  outline: none;
  cursor: pointer;
}

.movie-btn:hover, .tvshow-btn:hover{
  background-color: rgb(109, 106, 106); 
}

.tvshow-btn{
  margin-left: 250px;
}