@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

*{
    font-family: 'Roboto', sans-serif;
}
.app{
    background-color: #111;
    /* height: 1000vh; */
}

.test-movie{
    color: red;
}